@tailwind base;
@tailwind components;
@tailwind utilities;
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

/* * {
  background-color: white;
} */

/* Custom Scrollbar */
.scrollbar-custom::-webkit-scrollbar {
  height: 8px; /* Scrollbar height */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light gray track */
  border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #888; /* Dark gray scrollbar */
  border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker on hover */
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Loader animation */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
